@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Play&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
header .blockLeft h2,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*### FONTS ###*/

/*### SIZE ###*/

/*### STRUCTURE STYLE ###*/

.absBlock {
  position: relative;
  width: 100%;
  min-width: 1200px;
  height: auto;
}

.siteBlock {
  margin: 0 auto;
  padding: 0px 10px;
  width: 1200px;
}

.blockTitle {
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 34px;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 0px;
}

.readMore {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  color: #E7A331;
}

.readMore:hover {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/*### INDEX PAGE ###*/

header .blockLeft {
  float: left;
  width: 250px;
}

header .blockLeft a {
  text-decoration: none;
}

header .blockLeft h3,
header .blockLeft h2 {
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
  line-height: 27px;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  padding: 0;
}

header .blockLeft h2 {
  color: #fff;
  font-size: 30px;
  line-height: 45px;
}

header .blockRight {
  float: right;
  width: 75%;
  overflow: hidden;
}

.backTopLine {
  background: #fff;
}

.backTopLine .topLine {
  height: 30px;
  font-size: 0;
}

.backTopLine .topLine div[class$='Box'] {
  display: inline-block;
  vertical-align: top;
  height: auto;
  overflow: hidden;
  height: 30px;
}

.backTopLine .topLine .infoBox {
  width: 290px;
}

.backTopLine .topLine .infoBox p {
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 29px;
  padding: 0px 20px 0px 20px;
  color: #000;
  margin: 0;
}

.backTopLine .topLine .infoBox p.time:before,
.backTopLine .topLine .infoBox p.phone:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 17px;
  height: 18px;
  background: url("../img/app/spritesheet.png") no-repeat;
  background-position: -5px -5px;
}

.backTopLine .topLine .infoBox p.phone:before {
  background-position: -105px -5px;
}

.backTopLine .topLine .languageBox {
  width: 230px;
  text-align: center;
}

.backTopLine .topLine .languageBox a {
  display: inline-block;
  line-height: 23px;
  padding: 3px;
  font-size: 16px;
  text-decoration: none;
}

.backTopLine .topLine .userBox {
  width: 360px;
}

.backTopLine .topLine .userBox span {
  font-size: 14px;
  line-height: 25px;
  color: green;
  width: 20px;
  height: 20px;
  float: right;
  margin: 0px 5px;
}

.backTopLine .topLine .userBox a {
  text-decoration: none;
  font-size: 16px;
  float: right;
  line-height: 28px;
}

.backTopLine .topLine .userBox a.user {
  text-transform: capitalize;
  font-family: "Open Sans Condensed", sans-serif;
  color: #000;
  padding: 0px 8px;
}

.backTopLine .topLine .userBox a.user:hover {
  color: #E7A331;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.backTopLine .topLine .userBox form {
  float: right;
}

.backTopLine .topLine .userBox form button {
  background: none;
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 28px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border: none;
  margin: 0;
  padding: 0;
}

.backMainMenu {
  background: url("../img/app/decoration/back_menu.png");
}

.backMainMenu .mainMenu {
  height: 50px;
  overflow: hidden;
}

.backMainMenu .mainMenu nav a {
  color: #fff;
  text-transform: capitalize;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.backMainMenu .mainMenu nav .left {
  float: left;
  margin: 0;
  padding: 0;
}

.backMainMenu .mainMenu nav .left li {
  display: inline-block;
  padding: 12px 3px 8px;
}

.backMainMenu .mainMenu nav .left li a {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.backMainMenu .mainMenu nav .left li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: #E7A331;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.backMainMenu .mainMenu nav .left li a:hover:after {
  content: "";
  left: 0;
}

.backMainMenu .mainMenu nav .right {
  float: right;
}

.backMainMenu .mainMenu nav .right a {
  display: inline-block;
  margin-top: 7px;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.backMainMenu .mainMenu nav .right a:hover {
  color: #E7A331;
}

footer {
  height: 500px;
  border-bottom: 3px solid #E7A331;
}

footer .backContentBox {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 300px;
  background: url("../img/app/decoration/back_menu.png");
}

footer .backContentBox .contentBox {
  height: 300px;
  color: #fff;
}

footer .backContentBox .contentBox .footer {
  width: 100%;
  height: 270px;
}

footer .backContentBox .contentBox .footer div {
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
  width: 290px;
  height: 270px;
  overflow: hidden;
}

footer .backContentBox .contentBox .footer .title {
  text-align: center;
  font-size: 20px;
  font-family: "Play", sans-serif;
  text-transform: capitalize;
  margin: 10px 0;
}

footer .backContentBox .contentBox .footer .subscribe input {
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  display: block;
  margin: 30px auto;
  padding: 10px;
  outline: none;
}

footer .backContentBox .contentBox .footer .subscribe input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

footer .backContentBox .contentBox .footer .subscribe input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

footer .backContentBox .contentBox .footer .subscribe input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

footer .backContentBox .contentBox .footer .subscribe button {
  display: block;
  margin: 10px auto;
  border: none;
  background: none;
  font-family: "Play", sans-serif;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 8px;
}

footer .backContentBox .contentBox .footer .contacts,
footer .backContentBox .contentBox .footer .worksTime,
footer .backContentBox .contentBox .footer .developers {
  text-align: center;
}

footer .backContentBox .contentBox .boxCopy {
  width: 100%;
  height: 30px;
  overflow: hidden;
}

footer .backContentBox .contentBox .boxCopy p {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  line-height: 26px;
}

footer .map {
  width: 100%;
  height: 500px;
}

/*### MAIN PAGE ###*/

#carousel-example-generic {
  position: relative;
  width: 100%;
  min-width: 1200px;
  height: 500px;
  overflow: hidden;
}

#carousel-example-generic .item {
  height: 500px;
  overflow: hidden;
}

#carousel-example-generic .item img {
  width: 100%;
  min-height: 500px;
}

#carousel-example-generic .item .carousel-caption {
  top: 50px;
}

#carousel-example-generic .item .carousel-caption h2 {
  text-transform: capitalize;
}

.backAboutUs {
  height: auto;
  background: url("../img/app/decoration/back_white.png");
}

.backAboutUs .aboutUs {
  height: auto;
  padding: 60px 50px;
}

.backAboutUs .aboutUs .boxImg,
.backAboutUs .aboutUs .boxImg:after,
.backAboutUs .aboutUs .boxText {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 250px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 10px #000;
}

.backAboutUs .aboutUs .boxImg:after,
.backAboutUs .aboutUs .boxText:after {
  content: "";
  position: absolute;
  top: -8px;
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
          transform: rotate(-8deg);
  background: url("../img/app/slider/back4.jpg");
  background-size: cover;
}

.backAboutUs .aboutUs .boxImg img,
.backAboutUs .aboutUs .boxImg:after img,
.backAboutUs .aboutUs .boxText img {
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.backAboutUs .aboutUs .boxText {
  border: none;
  box-shadow: none;
  width: 650px;
  height: auto;
  margin-left: 40px;
}

.backMainDishes {
  height: auto;
  background: url("../img/app/decoration/back4.png");
}

.backMainDishes .mainDishes {
  height: auto;
  padding: 0px 95px 50px 95px;
  font-size: 0;
}

.backMainDishes .mainDishes .blockTitle {
  color: #fff;
}

.backMainDishes .mainDishes .dish {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 250px;
  overflow: hidden;
  font-size: 15px;
}

.backMainDishes .mainDishes .dish img {
  width: 100%;
  height: 100%;
}

.backMainDishes .mainDishes .dish .desc {
  position: absolute;
  top: -100%;
  left: 10%;
  width: 200px;
  height: 200px;
  color: #fff;
  font-family: "Play", sans-serif;
  text-align: center;
  background: url("../img/app/decoration/back_menu.png");
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.backMainDishes .mainDishes .dish .desc p:nth-child(1) {
  margin-top: 50px;
}

.backMainDishes .mainDishes .dish .desc p {
  text-transform: capitalize;
}

.backMainDishes .mainDishes .dish .desc p span {
  font-weight: bold;
}

.backMainDishes .mainDishes .dish:hover .desc {
  top: 10%;
}

/*### NEWS PAGE ###*/

.backNewsBox {
  height: auto;
  background: url("../img/app/decoration/back_white.png");
}

.backNewsBox .newsBox {
  height: auto;
  padding: 50px;
}

.backNewsBox .newsBox .news {
  display: inline-block;
  width: 250px;
  height: 400px;
  background: #fff;
  box-shadow: 0px 0px 10px #000;
  margin: 0px 0px 20px 18px;
}

.backNewsBox .newsBox .news .img {
  width: 100%auto;
  height: 150px;
  overflow: hidden;
}

.backNewsBox .newsBox .news .img img {
  width: 100%;
  height: auto;
}

.backNewsBox .newsBox .news h4 {
  text-transform: capitalize;
  text-align: center;
  padding: 0px 5px;
  font-family: "Fira Sans", sans-serif;
}

.backNewsBox .newsBox .news .desc {
  padding: 0px 5px;
  width: 100%;
  height: 160px;
  overflow: hidden;
}

.backNewsBox .newsBox .news .desc p {
  font-size: 14px;
  font-family: "Play", sans-serif;
}

.backNewsBox .newsBox .news .date {
  padding: 5px;
}

.backNewsBox .newsBox .news .date span {
  float: right;
  font-family: "Fira Sans", sans-serif;
}

.backNewsBox .newsBox .pagination {
  display: block;
  margin-left: 43%;
}

/*### ONE NEWS PAGE ###*/

.backOneNews {
  height: auto;
  background: url("../img/app/decoration/back_white.png");
}

.backOneNews .oneNews {
  height: auto;
  padding: 20px 50px;
}

.backOneNews .oneNews .img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0px 0px 10px #000;
}

.backOneNews .oneNews .img img {
  width: 100%;
  height: auto;
}

.backOneNews .oneNews .date {
  display: inline-block;
  margin: 20px 0px;
  font-size: 16px;
  font-family: "Play", sans-serif;
}

/*### MENU PAGE ###*/

.backMenuBox {
  height: auto;
  background: url("../img/app/decoration/back4.png");
}

.backMenuBox .menuBox {
  height: auto;
  padding: 20px;
}

.backMenuBox .menuBox .Menu {
  text-align: center;
}

.backMenuBox .menuBox .Menu li {
  display: inline-block;
}

.backMenuBox .menuBox .Menu li a {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  color: transparent;
  font-size: 14px;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0px 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.backMenuBox .menuBox .Menu li a:hover {
  color: #fff;
}

.backMenuBox .menuBox .boxListDish .descDish {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  width: 450px;
  height: auto;
}

.backMenuBox .menuBox .boxListDish .descDish .img {
  width: 100%auto;
  height: 300px;
  overflow: hidden;
}

.backMenuBox .menuBox .boxListDish .descDish .img img {
  width: 100%;
  height: 300px;
}

.backMenuBox .menuBox .boxListDish .descDish h3,
.backMenuBox .menuBox .boxListDish .descDish header .blockLeft h2,
header .blockLeft .backMenuBox .menuBox .boxListDish .descDish h2 {
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
}

.backMenuBox .menuBox .boxListDish .descDish .desc {
  width: 100%;
  height: auto;
  padding: 10px;
  font-family: "Fira Sans", sans-serif;
}

.backMenuBox .menuBox .boxListDish .descDish .actionBar a {
  display: inline-block;
  color: green;
  padding: 10px;
  font-size: 16px;
}

.backMenuBox .menuBox .boxListDish .listDish {
  margin: 0px 0px 0px 50px;
  display: inline-block;
  width: 650px;
  height: auto;
  background: #fff;
}

.backMenuBox .menuBox .boxListDish .listDish table tr {
  text-transform: capitalize;
}

.backMenuBox .menuBox .boxListDish .listDish table tr th {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
}

.backMenuBox .menuBox .boxListDish .listDish table tr td a {
  color: skyblue;
}

.backMenuBox .menuBox .boxListDish .listDish table tr td a:hover {
  text-decoration: none;
  color: #E7A331;
}

/*### USER LIST PAGE ###*/

.backUserListBox {
  height: auto;
  background: url("../img/app/decoration/back4.png");
}

.backUserListBox .userListBox {
  padding: 20px 0px;
}

.backUserListBox .userListBox .userList {
  background: #fff;
  padding: 0px 0px 20px 0px;
}

.backUserListBox .userListBox .userList tr th {
  text-transform: capitalize;
  font-weight: bold;
}

.backUserListBox .userListBox .userList tr td input {
  text-align: center;
  width: 40px;
}

.backUserListBox .userListBox .userList tr td a {
  color: skyblue;
  text-decoration: none;
}

.backUserListBox .userListBox .userList tr td .glyphicon-trash:hover {
  color: red;
  cursor: pointer;
}

.backUserListBox .userListBox .userList tr td .error {
  border-color: red;
}

.backUserListBox .userListBox .userList tr .OrPriceTotal {
  font-weight: bold;
}

.backUserListBox .userListBox .userList .userInfo h3,
.backUserListBox .userListBox .userList .userInfo header .blockLeft h2,
header .blockLeft .backUserListBox .userListBox .userList .userInfo h2 {
  text-transform: capitalize;
  text-align: center;
  font-size: 24px;
  font-family: "Open Sans Condensed", sans-serif;
}

.backUserListBox .userListBox .userList .userInfo .tableInfo {
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.backUserListBox .userListBox .userList .userInfo .tableInfo tr td:nth-child(1) {
  vertical-align: top;
  text-transform: capitalize;
  text-align: right;
  padding-right: 10px;
  font-family: "Fira Sans", sans-serif;
}

.backUserListBox .userListBox .userList .userInfo .tableInfo tr td:nth-child(2) input,
.backUserListBox .userListBox .userList .userInfo .tableInfo tr td:nth-child(2) textarea {
  width: 200px;
  resize: vertical;
}

.backUserListBox .userListBox .userList .Submit {
  display: block;
  background: none;
  border: none;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: capitalize;
  border: 1px solid skyblue;
  color: skyblue;
}

.backUserListBox .userListBox .userList .Submit:hover {
  color: #E7A331;
}

/*### TABLE BOOKING ###*/

.backTableBooking {
  background: #fff;
  height: auto;
}

.backTableBooking .tableBooking h2 {
  text-align: center;
  text-transform: capitalize;
}

.backTableBooking .tableBooking .boxNav {
  margin: 0px 0px 30px 0px;
  position: relative;
  border-radius: 5px;
  width: 100%;
  height: 70px;
  background: url("../img/app/decoration/back_menu.png");
}

.backTableBooking .tableBooking .boxNav .boxDate {
  display: inline-block;
  vertical-align: baseline;
  padding-top: 18px;
  width: 270px;
}

.backTableBooking .tableBooking .boxNav .boxDate .container {
  display: inline-block;
  width: 200px;
}

.backTableBooking .tableBooking .boxNav .boxDate button {
  vertical-align: top;
  display: inline-block;
  padding: 7px;
  border-radius: 3px;
  border: none;
  background: #EEEEEE;
}

.backTableBooking .tableBooking .boxNav h4 {
  padding-top: 16px;
  margin-left: 180px;
  color: #fff;
  vertical-align: top;
  font-style: italic;
  display: inline-block;
}

.backTableBooking .tableBooking .boxNav h4 a {
  color: orange;
}

.backTableBooking .tableBooking .boxNav .colorInfo {
  margin: 3px 20px 0px 0px;
  float: right;
  display: inline-block;
  color: #fff;
}

.backTableBooking .tableBooking .boxNav .colorInfo p {
  margin: 0;
}

.backTableBooking .tableBooking .boxNav .colorInfo p .colorFree,
.backTableBooking .tableBooking .boxNav .colorInfo p .colorReserved,
.backTableBooking .tableBooking .boxNav .colorInfo p .colorUndefine {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: green;
}

.backTableBooking .tableBooking .boxNav .colorInfo p .colorReserved {
  background: orange;
}

.backTableBooking .tableBooking .boxNav .colorInfo p .colorUndefine {
  background: gray;
}

.backTableBooking .tableBooking .boxNav .colorInfo p .item {
  text-transform: capitalize;
  vertical-align: top;
}

.backTableBooking .tableBooking .boxTableMap {
  margin: 0 auto 20px auto;
  width: 650px;
  height: auto;
  padding: 10px;
}

.backTableBooking .tableBooking .boxTableMap .reserved {
  background: orange;
}

.backTableBooking .tableBooking .boxTableMap .free {
  background: green;
}

.backTableBooking .tableBooking .boxTableMap .undefine {
  background: gray;
}

.backTableBooking .tableBooking .boxTableMap a {
  text-decoration: none;
  color: #000;
}

.backTableBooking .tableBooking .boxTableMap .smallT,
.backTableBooking .tableBooking .boxTableMap .middleT,
.backTableBooking .tableBooking .boxTableMap .bigT {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  margin: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}

.backTableBooking .tableBooking .boxTableMap .smallT span,
.backTableBooking .tableBooking .boxTableMap .middleT span,
.backTableBooking .tableBooking .boxTableMap .bigT span {
  line-height: 48px;
}

.backTableBooking .tableBooking .boxTableMap .middleT {
  width: 100px;
}

.backTableBooking .tableBooking .boxTableMap .bigT {
  width: 150px;
}

.backTableBooking .tableBooking .boxTableMap .Chair1,
.backTableBooking .tableBooking .boxTableMap .Chair2,
.backTableBooking .tableBooking .boxTableMap .Chair3,
.backTableBooking .tableBooking .boxTableMap .Chair4 {
  position: absolute;
  border-radius: 0px 5px 5px 0px;
  border-left: 5px solid green;
  top: 10px;
  left: -40px;
  width: 30px;
  height: 30px;
  background: #D2E4C8;
}

.backTableBooking .tableBooking .boxTableMap .Chair2,
.backTableBooking .tableBooking .boxTableMap .Chair3,
.backTableBooking .tableBooking .boxTableMap .Chair4 {
  border-radius: 0px 0px 5px 5px;
  border: none;
  border-top: 5px solid green;
  top: -40px;
  left: 10px;
}

.backTableBooking .tableBooking .boxTableMap .Chair3 {
  left: 60px;
}

.backTableBooking .tableBooking .boxTableMap .Chair4 {
  left: 110px;
}

.backTableBooking .tableBooking .boxTableMap .Chair5,
.backTableBooking .tableBooking .boxTableMap .Chair6,
.backTableBooking .tableBooking .boxTableMap .Chair7,
.backTableBooking .tableBooking .boxTableMap .Chair8 {
  position: absolute;
  border-radius: 5px 0px 0px 5px;
  border-right: 5px solid green;
  top: 10px;
  right: -40px;
  width: 30px;
  height: 30px;
  background: #D2E4C8;
}

.backTableBooking .tableBooking .boxTableMap .Chair6,
.backTableBooking .tableBooking .boxTableMap .Chair7,
.backTableBooking .tableBooking .boxTableMap .Chair8 {
  border-radius: 5px 5px 0px 0px;
  border: none;
  border-bottom: 5px solid green;
  top: 60px;
  right: 10px;
}

.backTableBooking .tableBooking .boxTableMap .Chair7 {
  right: 60px;
}

.backTableBooking .tableBooking .boxTableMap .Chair8 {
  right: 110px;
}